// $font-family-chinese      = "PingFang SC", "Microsoft YaHei";
$font-family-chinese = "PingFang SC", "Microsoft YaHei";

$global-background-color = floralwhite;
// 象牙白
// 雪白 #f0fcff
// $global-background-color = #f0fcff;


// $global-background-color = url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");

// #2e405b
$site-name-font-color = #0d3269;

// 浏览器滚动条 #49b1f5
$webkit-color = #000000;